#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.sidebar {
  color: black;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0); /* Ensure it's visible */
  z-index: 1000; /* Ensure it's above other elements */
}

.sidebar h3 {
  color: black; /* Ensure text is visible */
}

.sidebar ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
}

.sidebar li {
  background: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
}
.search-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: 10px; /* Adds space between input and button */
}
.search-container input {
  margin-top: 20px;
  flex-grow: 1; /* Allows input to take up available space */
  padding: 6px;
  border-radius: 6px;
}

.search-container button {
  padding: 10px 10px;
  border-radius: 6px;
  background-color: #4c70af; /* Example button background color */
  color: white;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background-color: black; /* Button hover effect */
}
